{% extends "base_generic.html" %}
{% block content %}
{% load static %}

<section id="blog" class = "site-content center-relative">
    <div class="container single-post-wrapper content-1070 center-relative">
        <form method="POST" class="post-form center-relative" enctype="multipart/form-data">
            {%csrf_token%}
            <h2>정말로 {{post_list.title}}를 삭제하시나요?</h2>
            <!-- <button type="button" class="btn btn-secondary" onclick="location.href='{% url '' %}'">NO</button> -->
            <input type="submit" class="save btn btn-danger" value="YES"/>
        </form>
    </div>
</section>

{% endblock %}
